.header_only-logo
  %h1.header_only-logo--wrap
    = link_to root_path, class: 'header_only-logo--wrap__link', data:{turbolinks: :false} do
      = image_tag "mercari_logo.png", class: 'header_only-logo--wrap__link__image', size: '185x52', alt: "mercari"