.default-container
  
  =render partial: 'items/header'

  %main.mypage_container.clearfix

    =render partial: 'users/left-content'

    .logout-container
      .logout-container__main
        = link_to "ログアウト", destroy_user_session_path, method: :delete

  =render partial: 'items/footer'