.default-container
  
  =render partial: 'items/header'

  %main.mypage_container.clearfix

    =render partial: 'users/left-content'

    .user-show_right-content
      
      
  =render partial: 'items/footer'