%ul.pc-header-nav__parent-wrap{data: {mega: 1}}
  - @parents.each do |parent|
    %li.pc-header-nav__parent
      = parent.name

        %ul.pc-header-nav__child-wrap{data: {mega: 2}}
          - parent.children.each do |child|
            %li.pc-header-nav__child
              = child.name
            
                %ul.pc-header-nav__grand-child-wrap{data: {mega: 3}}
                  - child.children.each do |grandchild|
                    %li.pc-header-nav__grand-child
                      = grandchild.name