/ %div Hello, World!

%main.mypage_container.clearfix

  =render partial: 'users/left-content'

  .card_show_right-content
    %h2.mi_head 支払い方法

    .mi_group

      .mi_group__title
        %h3 クレジットカード一覧

      %ul.mi_group__list
        %li
          = form_with url: 'https://www.mercari.com/jp/mypage/card/delete/', method: :post, local: true, class: 'mi_form' do |f|
            = image_tag "logo_visa.gif", class: 'user_info__link__photo', size: '49x32', alt: ""
                <input type="hidden" name="__csrf_value" value="2096fef5c3d68702db20e407255f56205ebb0a45b02472e5887ac2b7b9f51a85947062688cb835c9591e7ff5f8fe8399ff805deac9cafef49ab513461d449fe91">
                                <input type="hidden" name="card_sequence_no" value="GbGMkSWx7afjLMJaaXyKnucc">
                                <div class="settings-payment-num">************5123</div>
                                <div class="settings-payment-num">11 / 19 </div>
                                <input type="hidden" name="method" value="card">
                <button type="submit" class="settings-payment-remove">
                  削除する
                </button>
              </form>