/ %div Hello, World!

%main.mypage_container.clearfix

  =render partial: 'users/left-content'

  .card_show_right-content
    %h2.mi_head 支払い方法

    .cs_group

      .cs_group__title
        %h3 クレジットカード一覧

      %ul.cs_group__list
        %li.cs_group__list__info
          = image_tag "logo_visa.gif", class: 'cs_group__list__info__image', size: '49x32', alt: ""
          .cs_group__list__info__pay_num ************1234
          .cs_group__list__info__pay_num 08 / 19
          = form_with url: 'https://www.mercari.com/jp/mypage/card/delete/', method: :post, local: true, id: 'charge-form', class: 'mi_form' do |f|
            =f.text_field type: "hidden", name: "card_id", value: "", class: 'cs_form__card_id'
            = f.submit '登録する',class: 'cs_form__submit_btn'

/ %label 登録クレジットカード情報
/ %br
/ = "**** **** **** " + @default_card_information.last4
/ %br
/   exp_month = @default_card_information.exp_month.to_s
/   exp_year = @default_card_information.exp_year.to_s.slice(2,3)
/   exp_month + " / " + exp_year
/ = form_tag(card_delete_path, method: :post, id: 'charge-form',  name: "inputForm") do
/   %input{ type: "hidden", name: "card_id", value: "" }
/   %button 削除する