.item-show {
  box-sizing: border-box;
  padding: 24px 40px 40px;
  width: 700px;
  background: #fff;
  margin: 40px auto;
  .item_info {
    &__name {
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
      font-weight: bold;
    }
    &__profile {
      margin: 16px 0 0;
      &__images {
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        background: #fafafa;
        .owl_wrap {
          // position: relative;
          display: block;
          &__main_image {
            &__wrap {
              overflow: hidden;
              &__item {
                &__photo {
                  left: 0px;
                  width: 300px;
                  vertical-align: bottom;
                }
              }
            }
          }
          &__nav {
            display: none;
          }
          &__small_images {
            display: block;
            line-height: 0;
            &__item {
              opacity: 1;
              cursor: default;
              width: 60px;
              height: 60px;
              max-height: none;
              overflow: hidden;
              display: inline-block;
            }
          }
        }
      }
      &__details {
        float: right;
        width: 300px;
        // height: 420px;
        // margin: 0 auto;
        // border-collapse: collapse;
        // border: 1px solid #f5f5f5;
        border-spacing: 0;
        display: table-row-group;
        vertical-align: middle;
        tbody {
          tr {
            display: table-row;
            border-collapse: collapse;
            border: 1px solid #f5f5f5;
            th {
              width: 117px;
              text-align: left;
              font-weight: 400;
              background: #fafafa;
              padding: 8px;
            }
            td {
              width: 183px;
              background: #fff;
              padding: 12px;
              .td__link {
                display: block;
                color: #0099e8;
                text-decoration: none;
              }
              .ratings {
                &__rate {
                  display: inline-block;
                  .icon-smile-o {
                    width: 15px;
                    height: 15px;
                    font-size: 16px;
                    vertical-align: middle;
                    background-color: #ef5185;
                    color: #fff;
                    border-radius: 7.5px;
                    text-align: center;
                  }
                  .icon-meh-o {
                    width: 15px;
                    height: 15px;
                    font-size: 16px;
                    vertical-align: middle;
                    background-color: #fba933;
                    color: #fff;
                    border-radius: 7.5px;
                    text-align: center;
                  }
                  .icon-frown-o {
                    width: 15px;
                    height: 15px;
                    font-size: 16px;
                    vertical-align: middle;
                    background-color: #6ab5d8;
                    color: #fff;
                    border-radius: 7.5px;
                    text-align: center;
                  }
                  span {
                    vertical-align: middle;
                    padding-top: 1px;
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}