.logout-container{
  margin: 40px auto 0;
  width: 1020px;
  height: 1292px;
  &__main{
    width: 700px;
    height: 179px;
    background:#fff;
    float: right;
    position: relative;
    a {
      width: 320px;
      margin: auto;
      position: absolute;
      top: 63px;
      left: 190px;
      border: 1px solid #ea352d;
      background: #ea352d; 
      color: #fff;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
    }
  }
}