* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

:root {
  cursor: auto;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font: 66.66667% sans-serif;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  color: -internal-root-color;
}

::selection {
  color: currentColor;
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}

a {
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
}

img {
  vertical-align: middle;
}



main {
  display: block;
  background-color: rgb(170, 30, 30);
}

.white {
  background-color: #fff;

  .pickup-container {
    padding: 40px 0;
    background: #f5f5f5;
    line-height: 1.4;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  .pickup-head {

  .items-container {
    width: 700px;
    margin: 0 auto;
    
    h3 {
      font-size: 22px;
      margin: 26px 11px;
    }

    .text-center {
      text-align: center;
    }

    &__items-box {
      width: auto;
      margin: 0 auto;

      .box {
        margin: 0 0 0 20px;
        width: 213px;
        position: relative;
        float: left;
        background: #fff;
      }
        figure {
          width: 213px;
        }
        
          &__photo {
            height: 220px;
            overflow: hidden;
            position: relative;
            padding: 0 0 100%;

            img {
              size: 213px;
              width: 213px;
              height: 213px;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }

          }

        &__body {
          padding: 16px;
          height: 110px;

          &__name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;

            ::after {
              display: block;
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 50%;
              height: 1.5em;
              background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
            }

          }

          .font-2 {
            font-size: 16px;
            color: #333;
          }

          &__num {
            width: 900px;
            background-color: #0099e8;
            // display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin: 8px 0 0;

            &__price {
              font-size: 16px;
              float: åleft;
            }

            .font-5 {
              font-weight: 600;
              color: #333;
            }

            &__icon {
              float: right;

              fa-icon {
              font-family: 'icon-font';
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              }

            }
            
            // .font-2 {
              // font-size: 16px;
              // font-weight: 400;
              // color: #333;
            // }

          }

        }

      

    }

  }
  
  }

}


