.default-container {
  box-sizing: border-box;

  .header_signup_complete {
    height: 128px;
    text-align: center;
    &--wrap {
      display: inline-block;
      padding: 40px 0 0;
      &__link {
        margin: 0 8px 0 0;
        touch-action: manipulation;
        &__image {
          vertical-align: middle;
        }
      }
    }
    &__stage {
      display: inline-block;
      vertical-align: top;
      padding: 40px 0 0 44px;
      border: 0;
      &__list
    }
  }
  .login_container {
    display: block;
    &__panel {
      width: 456px;
      margin: 0 auto;
      background: #fff;
      &--no-account {
        padding: 40px 64px;
        text-align: center;
        p {
          font-size: 14px;
        }
        &__link {
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
          touch-action: manipulation;
        }
      }
      &--sns {
        padding: 32px 64px;
        border-top: 1px solid #eee;
        &--facebook {
          background: #385185;
          color: #fff;
          display: block;
          width: 100%;
          height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          position: relative;
          .icon-facebook-square {
            position: absolute;
            top: 10px;
            left: 16px;
          }
        }
        &--google {
          display: block;
          width: 100%;
          height: 48px;
          font-size: 14px;
          border: #979797 solid 1px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          position: relative;
          margin: 16px 0 0;
          .icon-google {
            position: absolute;
            top: 10px;
            left: 16px;
            color: goldenrod;
          }
        }
      }
      &--devise-login {
        padding: 0 64px 32px;
        .login_form {
          border: 0;
          &__field {
            margin: 24px 0 0;
            &__input {
              box-sizing: border-box;
              margin: 0;
              width: 100%;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              -webkit-appearance: none;
            }
          }
          &__submit {
            margin: 24px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
          &__link {
            display: block;
            margin: 40px 0 0;
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer_signup_login {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    &__lists {
      &__item {
        margin: 0 8px;
        display: inline-block;
        font-size: 12px;
        &__link {
          text-decoration: none;
          display: block;
          color: #333;
        }
      }
    }
    &__link {
      display: block;
      color: #333;
      margin: 40px auto 8px;
      text-decoration: none;
    }
    small {
      font-size: 13px;
    }
  }
}