.default-container {
  box-sizing: border-box;

  .header_signup_complete {
    height: 128px;
    text-align: center;
    &--wrap {
      display: inline-block;
      padding: 40px 0 0;
      &__link {
        margin: 0 8px 0 0;
        touch-action: manipulation;
        &__image {
          vertical-align: middle;
        }
      }
    }
    &__stage {
      display: inline-block;
      vertical-align: top;
      padding: 40px 0 0 44px;
      &__list {
        position: relative;
        .active {
          color: #ea352d;
        }
        li {
          color: rgb(194, 194, 194);
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          .stage-status.active {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
            z-index: 2;
          }
        }
        li:last-child {
          margin: 0;
        }
      }
      ol::after {
        border-top: 3px solid;
        content: "";
        position: absolute;
        top: 25px;
        left: 30px;
        width: 465px;
        color: #ea352d;
      }
    }
  }
  .signup_complete_container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 40px;
    .signup_complete_head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 2px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
    }
    .signup_complete_group {
      margin-top: 40px;
      padding: 0 64px 0;
      text-align: center;
      &__item {
        p {
          margin-top: 8px;
        }
        &__link {
          margin: 40px auto 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 300px;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}